%table.profile{:summary => "Profile information"}
	%tr
		%td.main
			= gravatar_for @user
			- unless @user.topics.empty?
				%table.topics
					= render @topiclist
		%td.sidebar.round
			%strong
				Name
			=@user.name
			%br
			%strong
				URL
			= link_to user_path(@user), @user
			%br
			%strong
				email
			= @user.email
			%br
			%strong
				Topics
			= @user.topics.count