!!! 5
%html
	%head
		%title
			= title
		= csrf_meta_tag
		= render 'layouts/stylesheets'
	%body
		.container
			= render 'layouts/header'
			%section.round
				= flash.each do |key, value|
					.flash.#{key}
					= value
				= yield
			= render 'layouts/footer'